<section>

    <div class="container-fluid page-body-wrapper">
        {{>adminSidebar}}

        <div class="content-wrapper">
            <h3 class="card-title mb-4"> Banner Details Edit</h3>
            <div class="row p-4">

                <div class=" col-10">
                    <div class="container bg-light p-4 rounded">
                        <form method="post" action="/admin//edit-banner/{{banner._id}}" enctype="multipart/form-data">
                            <label>Banner Name</label>
                            <input type="text" name="Name" class="form-control mt-2 mb-3" value="{{banner.Name}}">
                            <label>Banner Discription</label>
                            <input type="text" name="Discription" class="form-control mt-2 mb-3"
                                value="{{banner.Discription}}">
                            <label>Banner Option</label>
                            <input type="text" name="Option" class="form-control mt-2 mb-3" value="{{banner.Option}}">


                            <div class="row">
                                <div class=" col-12 mt-4">
                                    <img src="../banner-image/{{banner._id}}_1.jpg" style="height: 6em;" id="bannerImg">
                                    <label for="">Banner Image</label>
                                    <input type="file" class="form-control mt-2 mb-3" name="bannerImage"
                                        style=" width: 15em;" onchange="imgChange(event)">
                                </div>
                            </div>

                            <input type="submit" value="submit edited data" class="btn btn-success btn-sm mt-4 mb-4">


                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- plugins:js -->
    <script src="../../admin/vendors/base/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <script src="../../admin/vendors/chart.js/Chart.min.js"></script>
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="../../admin/js/off-canvas.js"></script>
    <script src="../../admin/js/hoverable-collapse.js"></script>
    <script src="../../admin/js/template.js"></script>
    <script src="../../admin/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="../../admin/js/dashboard.js"></script>
    <!-- End custom js for this page-->

</section>

<script>
    function imgChange(event) {
        document.getElementById("bannerImg").src = URL.createObjectURL(event.target.files[0])
    }
</script>
 <script src="sweetalert2.all.min.js"></script>