<section>

    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->

        {{>adminSidebar}}

        <div class="content-wrapper">
            <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title mb-0">All Products</h3>
                            <div class="table-responsive mt-4">

                                <table class="table table-hover" id="myTable">

                                    <thead class="mt-4">
                                        <tr>
                                            <th>Product</th>
                                            <th>Product Name</th>
                                            <th>Product id</th>
                                            <th>Landing Cost</th>
                                            <th>price</th>
                                            <th>Stock</th>
                                            <th>Category</th>
                                            {{!-- <th>Brand</th> --}}
                                            <th>Action</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {{#each product}}
                                        <tr>
                                            <td> <img src="/product-image/{{this._id}}_1.png" alt=""
                                                    style="width: 3rem; height: 3rem; border-radius: 0px;"> </td>
                                            <td>{{this.Name}}</td>
                                            <td>{{this._id}}</td>
                                            <td>{{this.LandingCost}}</td>
                                            <td>{{this.Prize}}</td>
                                            <td>{{this.Quantity}}</td>
                                            <td>{{this.Category}}</td>
                                            <td><a href="/admin/edit-product/{{this._id}}" style="color: green;"><i
                                                        style="height: 30px;" class="bi bi-pencil-fill"></i></a>
                                                &nbsp; &nbsp;&nbsp; <a style="color: red; height: 2em;"
                                                    onclick="deleteProduct('{{this._id}}')"><i
                                                        class="bi bi-trash-fill"></i></a>


                                            </td>

                                            {{!-- <td>{{this.Brand}}</td> --}}

                                        </tr>
                                        {{/each}}
                                    </tbody>

                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- plugins:js -->
    <script src="vendors/base/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <script src="vendors/chart.js/Chart.min.js"></script>
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="js/off-canvas.js"></script>
    <script src="js/hoverable-collapse.js"></script>
    <script src="js/template.js"></script>
    <script src="js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="js/dashboard.js"></script>
    <!-- End custom js for this page-->
</section>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>
<script>
    function deleteProduct(productId) {


        Swal.fire({
            title: 'Are you sure to delete this product?',
            showDenyButton: true,
            showCancelButton: false,
            confirmButtonText: 'Delete',
            denyButtonText: `Cancel`,
        }).then((result) => {

            if (result.isConfirmed) {

                $.ajax({
                    url: "/admin/delete-product2",
                    data: {
                        productId: productId
                    },
                    method: "post",
                    success: (res) => {
                        console.log("come to success part")
                        console.log(res)
                        if (res.removeProduct) {
                            Swal.fire('product deleted!', '', 'success')
                            location.reload()
                        } else {
                            Swal.fire('Somthing went to wrong product not deleted!', '', 'error')
                        }
                    }
                })
            } else if (result.isDenied) {
                Swal.fire('Product is not deleted', '', 'success')
            }
        })

    }
</script>