<style>
    body {
        background: white
    }

    .form-control:focus {
        box-shadow: none;
        border-color: #BA68C8
    }

    .profile-button {
        background: rgb(99, 39, 120);
        box-shadow: none;
        border: none
    }

    .profile-button:hover {
        background: #682773
    }

    .profile-button:focus {
        background: #682773;
        box-shadow: none
    }

    .profile-button:active {
        background: #682773;
        box-shadow: none
    }

    .back:hover {
        color: #682773;
        cursor: pointer
    }

    .labels {
        font-size: 11px
    }

    .add-experience:hover {
        background: #BA68C8;
        color: #fff;
        cursor: pointer;
        border: solid 1px #BA68C8
    }
</style>


<div class="container rounded bg-white mt-5 mb-5">
    <form action="/changePassword/{{userData._id}}" method="post" enctype="multipart/form-data"
        onsubmit="return validation()">


        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">

                    <img class="rounded-circle mt-5" width="150px;" height="150px"
                        src="/profile-image/{{userData._id}}_1.png" alt="" id="imgview1">
                    <span
                        class="font-weight-bold text-dark">{{userData.firstName}}&nbsp;{{userData.lastName}}</span><span
                        class="text-black-50">{{userData.email}}</span><span> </span>
                </div>
            </div>
            <div class="col-md-5 border-right shadow-lg" style="border-radius: 5%;">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-centre">Change Password</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">Name</label>
                            <p><b>{{userData.firstName}}</b></p>
                        </div>
                        <div class="col-md-6"><label class="labels">Surname</label>
                            <p><b>{{userData.lastName}}</b></p>
                        </div>
                    </div>
                    <div class="row mt-3 ">

                        <div class="col-md-12 mt-3 "><label class="labels">Enter Old Password</label><input
                                type="password" class="form-control" placeholder="enter old password" name="oldPassword"
                                id="oldPassword"></div>
                        {{#if changePasswordErr}}
                        <p class="text-danger">{{changePasswordErr}}</p>
                        {{/if}}
                        <div class="col-md-12 mt-3 "><label class="labels"><b>Enter New Password</b></label><input
                                type="password" class="form-control" placeholder="enter new password" name="newPassword"
                                id="newPassword"></div>
                        <div class="col-md-12 mt-3 "><label class="labels"><b>Confirm new Password</b></label><input
                                type="password" class="form-control" placeholder="Confirm new Password"
                                name="cnewPassword" id="cnewPassword"></div>

                    </div>

                    <div class="mt-5 text-center">
                        <p class="mt-2 mb-2 text-danger" id="psdErr"></p>
                        <div class="p-2" style="color: lightgreen; border-radius: 10%;">
                            {{#if changePasswordSuccess}}
                            <p class="text-success mt-1">{{changePasswordSuccess}}</p>
                            <a class="text-success mt-1" href="/profile">Go to Profile</a>
                            {{/if}}
                        </div>
                        <input type="submit" class="btn btn-success mt-1 mb-1" value="Change Password"
                            id="confirm-btn1">

                    </div>
                </div>
            </div>

        </div>

    </form>

</div>
</div>
</div>

<script>
    function validation() {
        let oldPsd = document.getElementById("oldPassword").value
        let newPsd = document.getElementById("newPassword").value
        let cnewPsd = document.getElementById("cnewPassword").value


        if (oldPsd == "") {
            document.getElementById("psdErr").innerHTML = "** enter old password"
            return false
        } else if (newPsd == "") {
            document.getElementById("psdErr").innerHTML = "** enter new password"
            return false
        } else if (cnewPsd == "") {
            document.getElementById("psdErr").innerHTML = "** enter confirm password"
            return false
        } else if (newPsd != cnewPsd) {
            document.getElementById("psdErr").innerHTML = "**confirm and new  password does not match"
            return false
        }
    }
</script>